<div class="container bg-light">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <h4 class="mt-3">Notes</h4>
                @* <a asp-action="PatientDashboard" asp-controller="Home"><button class="theme-btn-header px-1 mt-3 mb-3 " style="height: 40px; width : 80px; color: #54B4D3;">< Back</button></a> *@
                <a class="text-start text-info text-decoration-none ">
                    <button class="btn btn-white text-info border-info rounded ">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </button>
                </a>
            </div>
            <form method="post" id="enable">
                <div class="container rounded py-3">
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-lg-6 mb-3">
                            <div class="bg-white rounded-4 p-3 h-100">
                                <img src="~/OneDrive_2024-01-17/SRS Screen Shorts/transfer.png" height="25px" /> <span class="h4"> Transfer Notes</span>
                                <P class="mt-3">Admin Transfer To Dr Agola On 27/09/2023 at 9:38:05 Am : Test Assign</P>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-6 mb-3">
                            <div class="bg-white rounded-4 p-3 h-100">
                                <i class="fa-solid fa-user-doctor fa-xl" style="color: #000000;"></i> <span class="h4">Physician Notes</span>
                                <p class="mt-3">Test,Add Concluded</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 col-sm-12 col-lg-6">
                            <div class="bg-white rounded-4 p-3">
                                <i class="fa-solid fa-user-tie fa-xl"></i> <span class="h4">Admin Notes</span>
                                <p class="mt-3">---</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="form-floating bg-white rounded-4 p-3">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2" class="px-4 py-4">Admin Notes</label>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-info text-white" type="button">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>