@model WebApplication2.Models.FamilyFriendPatientRequest

@{
    ViewData["Title"] = "familyfriend Page";
}
<header id="hearder" class="shadow bg-white w-100 top-0">
    <div class="row mx-0">
        <div class="col mx-0">
            <img src="~/OneDrive_2024-01-17/SRS Screen Shorts/backremovelogo.png" alt="" height="100px" width="180">
        </div>
    </div>
    <div class="col setmoon">
        <div class="row">
            <div class="col text-end  ">
                <button class="moonbtn backtra">
                    <i class="fa-solid fa-moon "></i>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="container text-end mt-3">

    <a class="text-start text-info text-decoration-none "asp-controller="Home" asp-action="submit_request_screen">
        <button class="btn btn-white  text-info border-info rounded ">
            <i class="fa-solid  fa-less-than"></i> Back
        </button>
    </a>
</div>
<form asp-action="CreatePatientByFamilyFriend" asp-controller="Aspnetusers" method="post" enctype="multipart/form-data">
    <div class="container bg-white rounded shadow mt-3">
        <!-- <div class="row text-end position-relative ">
            <div class="col d-md-flex justify-content-md-end">
                <button class="btn btn-white  text-white border-info rounded ">
                    <a class="col text-start text-info text-decoration-none " href="./submitrequestScreen.html">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </a>
                </button>
            </div>
        </div> -->
        <div class="row">
            <div class="col-12 h3 mb-3 mt-3">
                Family / Friend Information
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=f_first_name name="f_first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Your First name</label>
                <span asp-validation-for="f_first_name" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=f_last_name name="f_last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Your last name </label>
                <span asp-validation-for="f_last_name" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=f_phone_number name="f_phone_number" type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Phone Number</label>
                <span asp-validation-for="f_phone_number" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=p_phonenumber name="f_email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4"> Your Email</label>
                <span asp-validation-for="p_phonenumber" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input name="f_relation" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Relation With Patient </label>
            </div>
            <div class="col-12 h3 mb-3 mt-3">
                Patient Information
            </div>
            <div class="col-sm-12 col-md-12 col-xl-12 form-floating mb-3 text-muted">
                <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                <textarea class="form-control " id="exampleFormControlTextarea1" rows="6"
                          placeholder="Enter Brief Details Of Symptoms"></textarea>
                <label for="exampleFormControlInput1" class="form-label ps-4">
                    Enter Brief Details Of
                    Symptoms
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=p_first_name name="p_first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">First name</label>
                <span asp-validation-for="p_first_name" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=p_last_name name="p_last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">last name </label>
                <span asp-validation-for="p_last_name" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input name="p_dob" type="date" class="form-control" id="exampleFormControlInput1" placeholder="Date Of Birth">
                <label for="exampleFormControlInput1" class="form-label ps-4">Date Of Birth</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 h3 mb-3">
                Patient Contact Information
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=p_email name="p_email" type="email" class="form-control" id="exampleFormControlInput1" onchange="emailExists()" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Email</label>
                <span asp-validation-for="p_email" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=p_phonenumber name="p_phonenumber" type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Phone Number</label>
                <span asp-validation-for="p_phonenumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 h3 mb-3">
                Patient Location
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating  mb-3 text-muted">
                <input asp-for=p_street name="p_street" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Street</label>
                <span asp-validation-for="p_street" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input name="p_city" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">City</label>
                <span asp-validation-for="p_city" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input asp-for=p_state name="p_state" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">State</label>
                <span asp-validation-for="p_state" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input asp-for=p_zip name="p_zip" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Zip Code</label>
                <span asp-validation-for="p_zip" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input name="p_room" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Room # / (Suite Optional)</label>
            </div>
        </div>
        <div class="row">
            <div class="col h3 mb-3">
                (Optional) Upload Photo or Document
            </div>
        </div>
        <fieldset id="upload">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" asp-for="File">
                <label class="input-group-text text-muted p-0" for="inputGroupFile02">
                    <label class="btn btn-info mx-0">
                        <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                        Upload
                    </label>
                    @* <i class="btn btn-info fa-solid fa-cloud-arrow-up" style="color: #ffffff;"> Upload</i> *@
                </label>
            </div>
        </fieldset>
        @* <div class="row">   
            <div class="col h3 mb-3">
                (Optional) Upload Photo or Document
            </div>
        </div>
        <fieldset id="upload">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">
                    <i class="fa-solid fa-cloud-arrow-up"> Upload</i>
                </label>
            </div>
        </fieldset> *@
@*         <div class="row">
            <div class="col mb-3">
                <input class="form-control visually-hidden" type="file" id="formFile">
                <label for="formFile" class="bg-light rounded d-flex w-100  justify-content-between border"
                       style="width: inherit;">
                    <p class="m-3">
                        Select file
                    </p>
                    <p class="btn btn-info m-2">
                        <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                        Upload
                    </p>
                </label>

            </div>
        </div> *@
        <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
        <div class="text-end d-md-flex justify-content-md-end pb-3">
            <button class="btn btn-info me-2 text-white" type="submit">Submit</button>
            <button class="btn btn-white text-info border-info" type="reset">cancel</button>
        </div>
    </div>
</form>
<footer class="text-center justify-content-center bg-black mt-2 ">
    <div class="text-white">Terms Of Conditions <div class="vr "></div> Privacy Policy</div>
</footer>