@model WebApplication2.Data.Aspnetuser
@{
    ViewData["Title"] = "patientlogin Page";
}

<div class="bg1"></div>
<div class="container d-flex align-items-center backimage justify-content-center min-vh-100">
    <div class="row justify-content-center text-center ">
        <div class="col setmoon">
            <div class="row">
                <div class="col text-end ">
                    <button class="moonbtn backtra"><i class="fa-solid fa-moon  "></i></button>
                </div>
            </div>
        </div>
        <div class="row setlogo"> 
            <div class="col">
                <img src="~/OneDrive_2024-01-17/SRS Screen Shorts/backremovelogo.png" class="img-fluid mb-4" alt="logo">
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="row w-50 mt-4 text-muted mb-5 d-flex">
                <a class="col text-start text-info text-decoration-none " asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-less-than"></i> Back
                </a>
            </div>
            <div class="row h2 w-50">
                <div class="col mb-3">
                    Login To Your Account
                </div>
            </div>
        </div>
       @*  <form asp-controller="Logins" asp-action="Create" class="w-50 text-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Username" class="form-control text-muted backtra border-info " />
                <label asp-for="Username" class="control-label">UserName</label>
            </div>
            <div class="form-group">
                
                <input asp-for="Password" class="form-control text-muted backtra border-info " id="floatingPassword" />
                <label asp-for="Password" for="floatingPassword" class="control-label">Password</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="row-sm-10 mt-4 text-muted mb-5">
                <a class="col text-center text-info text-decoration-none " asp-controller="Home" asp-action="patientforgot">
                    Forgot Password?
                </a>
            </div>
        </form> *@
        <form class="w-50 text-center" asp-action="Create" asp-controller="Aspnetusers">
            <div class="text-danger"></div>
             <div class=" form-floating mb-3 form-group ">
                <input asp-for="Usarname" type="text" class="form-control text-muted backtra border-info " id="floatingInput"
                       placeholder="Username"/>
                <label asp-for="Usarname" class=" " for="floatingInput">
                    Username
                </label>
                <i class="far fa-user-circle text-secondary faicon"></i>
            </div> 
            <div class="form-floating mb-3">
                <input asp-for="Passwordhash" type="password" id="myInput"  class="form-control backtra border-info text-muted" id="floatingPassword"
                       placeholder="Password">
                <label asp-for="Passwordhash" class="  " for="floatingPassword">Password</label>
                <i class="far fa-eye text-secondary faicon" onclick="myFunction()"></i>
           </div>
            <div class="row justify-content-between mt-4">
                <div class="col">
                    <button type="Submit" class="btn btn-info w-100">Login</button>
                </div>
            </div>
            <div class="row-sm-10 mt-4 text-muted mb-5">
                <a class="col text-center text-info text-decoration-none " asp-controller="patientlogin" asp-action="patientforgot">
                    Forgot Password?
                </a>
            </div>
        </form> 

    </div>
</div>
<footer class="footerset text-lg-center text-center justify-content-center">
    <div class="">Terms Of Conditions <div class="vr fw-bold"></div> Privacy Policy</div>
</footer>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
