@model WebApplication2.Models.Userdata
@{
    ViewData["Title"] = "SubmitRequestOnMe Page";
}
<header id="hearder" class="shadow bg-white w-100 top-0">
    <div class="row mx-0">
        <div class="col mx-0">
            <img src="~/OneDrive_2024-01-17/SRS Screen Shorts/backremovelogo.png" alt="" height="100px" width="180">
        </div>
    </div>
    <div class="col setmoon">
        <div class="row">
            <div class="col text-end  ">
                <button class="moonbtn backtra">
                    <i class="fa-solid fa-moon  "></i>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="container text-end mt-3">
    <a class="text-start text-info text-decoration-none " asp-controller="Home" asp-action="patientdashboard">
        <button class="btn btn-white  text-info border-info rounded ">
            <i class="fa-solid  fa-less-than"></i> Back
        </button>
    </a>
</div>

<form method="post" asp-action="SubmitRequestOnMe" asp-controller="Aspnetusers">
    <div class="container bg-white rounded mt-3">
        <div class="row">
            <div class="col-12 h3 mb-3 mt-3">
                Patient Information
            </div>
            <div class="form-floating mb-3 text-muted">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2" class="ps-4">Enter Brief Details Of Symptoms</label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=first_name name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">First name</label>
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=last_name name="last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">last name </label>
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=dob type="date" name="dob" class="form-control" id="exampleFormControlInput1" placeholder="Date Of Birth">
                <label for="exampleFormControlInput1" class="form-label ps-4">Date Of Birth</label>
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 h3 mb-3">
                Patient Contact Information
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input name="email" type="email" class="form-control" id="email" onblur="emailExists()" placeholder="Firstname">
                <label for="email" class="form-label ps-4">Email</label>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            @* <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
            <input asp-for="Mobile" id="phone" class="form-control inp2" type="tel" placeholder="Phone Number">
            </div> *@
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input asp-for=phonenumber name="phonenumber" type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Phone Number</label>
                <span asp-validation-for="phonenumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 h3 mb-3">
                Patient Location
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating  mb-3 text-muted">
                <input asp-for=street type="text" name="street" class="form-control" id="exampleFormControlInput1" placeholder="Street">
                <label for="exampleFormControlInput1" class="form-label ps-4">Street</label>
                <span asp-validation-for="street" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input asp-for=city type="text" name="city" class="form-control" id="exampleFormControlInput1" placeholder="City">
                <label for="exampleFormControlInput1" class="form-label ps-4">City</label>
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input asp-for=state type="text" name="state" class="form-control" id="exampleFormControlInput1" placeholder="State">
                <label for="exampleFormControlInput1" class="form-label ps-4">State</label>
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input asp-for=zipcode type="text" name="zipcode" class="form-control" id="exampleFormControlInput1" placeholder="Zip Code">
                <label for="exampleFormControlInput1" class="form-label ps-4">Zip Code</label>
                <span asp-validation-for="zipcode" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input asp-for=room type="text" name="room" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Room # / (Suite Optional)</label>
                <span asp-validation-for="room" class="text-danger"></span>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 mb-3">
                <button class="btn btn-white border-info text-info " id="inp2"><i class="fa-solid fa-location-dot me-1"></i>Map</button>
            </div>
        </div>
        <div class="row">
            <div class="col h3 mb-3">
                (Optional) Upload Photo or Document
            </div>
        </div>
        <fieldset id="upload">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02">
                <label class="input-group-text text-muted p-0" for="inputGroupFile02">
                    <label class="btn btn-info mx-0">
                        <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                        Upload
                    </label>
                </label>
            </div>
        </fieldset>
        <div class="text-end pb-3">
            <button class="btn btn-info me-2 text-white" type="submit">Submit</button>
            <button class="btn btn-white text-info border-info" type="reset">reset</button>
        </div>
    </div>
</form>
<footer class="text-center justify-content-center bg-black mt-2 ">
    <div class=" text-white">Terms Of Conditions <div class="vr "></div> Privacy Policy</div>
</footer>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        // var btn = document.querySelector('.hello');
        // btn.click();

        var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
        modal.show();
    })
    const input = document.querySelector("#phone");
    const button = document.querySelector("#btn");
    const errorMsg = document.querySelector("#error-msg");
    const validMsg = document.querySelector("#valid-msg");

    // here, the index maps to the error code returned from getValidationError - see readme
    const errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

    // initialise plugin
    const iti = window.intlTelInput(input, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });

    const reset = () => {
        input.classList.remove("error");
        errorMsg.innerHTML = "";
        errorMsg.classList.add("hide");
        validMsg.classList.add("hide");
    };

    // on click button: validate
    button.addEventListener('click', () => {
        reset();
        if (input.value.trim()) {
            if (iti.isValidNumber()) {
                validMsg.classList.remove("hide");
            } else {
                input.classList.add("error");
                const errorCode = iti.getValidationError();
                errorMsg.innerHTML = errorMap[errorCode] || "Invalid number";
                errorMsg.classList.remove("hide");
            }
        }
    });

    // on keyup / change flag: reset
    input.addEventListener('change', reset);
    input.addEventListener('keyup', reset)
</script>