<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - halloDoc</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/patientrequest.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    @* <script>
        $(document).ready(function () {
           
            $('#home-tab').click(function () {
                $.ajax({
                    url: "/Admin/NavigationTabs",
                    type: "POST",
                    data: { 'id': 1 },
                    dataType: "html",
                    success: function (data) {
                        $("#Content").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#Content").html('An error has occurred');
                    }
                });
            });
            $('#provider-location-tab').click(function () {
                $.ajax({
                    url: "/Admin/NavigationTabs",
                    type: "POST",
                    data: { 'id': 2 },
                    dataType: "html",
                    success: function (data) {
                        $("#Content").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#Content").html('An error has occurred');
                    }
                });
            });
            $('#profile-tab').click(function () {
                $.ajax({
                    url: "/Admin/NavigationTabs",
                    data: { 'id': 3 },
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#Content").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#Content").html('An error has occurred');
                    }
                });
            });
            $('#providers-tab').click(function () {
                $.ajax({
                    url: "/Admin/NavigationTabs",
                    type: "POST",
                    data: { 'id': 4 },
                    dataType: "html",
                    success: function (data) {
                        $("#Content").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#Content").html('An error has occurred');
                    }
                });
            });
            $('#partners-tab').click(function () {
                $.ajax({
                    url: "/Admin/NavigationTabs",
                    data: { 'id': 5 },
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $("#Content").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#Content").html('An error has occurred');
                    }
                });
            });
            $('#Access-tab').click(function () {
                $.ajax({
                    url: "/Admin/NavigationTabs",
                    type: "POST",
                    data: { 'id': 6 },
                    dataType: "html",
                    success: function (data) {
                        $("#Content").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#Content").html('An error has occurred');
                    }
                });
            });
            $('#Records-tab').click(function () {
                $.ajax({
                    url: "/Admin/NavigationTabs",
                    type: "POST",
                    data: { 'id': 7 },
                    dataType: "html",
                    success: function (data) {
                        $("#Content").html(data);
                    },
                    error: function () {
                        alert("No Projects Found");
                        $("#Content").html('An error has occurred');
                    }
                });
            });
        });
    </script> *@

</head>
<body>
    @* <div>
        <nav class="bg-white">
            <div class="container-fluid  shadow p-0" style="z-index:1060; padding-left :0px !important;">
                <ul style="padding-left :0px !important;">
                    <li>
                        <div class=" bg-transparent d-flex">
                            <button class="Logout1 btn showonmobile hide " data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars" style="color: #54d4d3;"></i> </button>
                            <img src="~/OneDrive_2024-01-17/SRS Screen Shorts/backremovelogo.png" alt="" height="100px" width="180">
                        </div>
                    </li>
                    <li class="hideonmobile me-2">Welcome <b>Admin admin2</b></li>
                    <li>
                        <a>
                            <button class="btn hideonmobile me-2"
                                    style="border:2px solid #54d4d3; color: #54d4d3;">
                                Logout
                            </button>
                        </a>
                    </li>
                    <li>
                        <a>
                            <button class="btn showonmobile hide me-2"
                                    style="border:2px solid #54d4d3;">
                                <i class="fa-solid fa-arrow-right-from-bracket"
                                   style="color: #54d4d3;">
                                </i>
                            </button>
                        </a>
                    </li>
                    <li>
                        <button class="moonbtn backtra me-2"><i class="fa-solid fa-moon"></i></button>
                    </li>
                </ul>
                <hr>
                <ul class="nav nav-tabs hideonmobile" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active border-0 text-muted" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                aria-selected="true">
                            <b>Dashboard</b>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-muted border-0 " id="provider-location-tab" data-bs-toggle="tab"
                                data-bs-target="#providerlocation" type="button" role="tab" aria-controls="providerlocation"
                                aria-selected="false">
                            <b>Provider Location</b>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-muted border-0 " id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                aria-selected="false">
                            <b>My Profile</b>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-muted border-0 " id="providers-tab" data-bs-toggle="tab"
                                data-bs-target="#providers" type="button" role="tab" aria-controls="providers"
                                aria-selected="false">
                            <b>Providers</b>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-muted border-0 " id="partners-tab" data-bs-toggle="tab"
                                data-bs-target="#partners" type="button" role="tab" aria-controls="partners"
                                aria-selected="false">
                            <b>Partners</b>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-muted border-0 " id="Accedss-tab" data-bs-toggle="tab"
                                data-bs-target="#access" type="button" role="tab" aria-controls="access"
                                aria-selected="false">
                            <b>Access</b>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-muted border-0 " id="Records-tab" data-bs-toggle="tab"
                                data-bs-target="#records" type="button" role="tab" aria-controls="records"
                                aria-selected="false">
                            <b>Records</b>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="offcanvas offcanvas-start w-50 showonmobile hide bg-light" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Welcome <strong>Test Tests</strong></h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="offcanvasmenu p-2"><a id="dashboardnav" class="text-muted text-decoration-none">Dashboard</a></div>
                <div class="offcanvasmenu p-2"><a id="providerlocationnav" class="text-muted text-decoration-none">ProviderLocation</a></div>
                <div class="offcanvasmenu p-2"><a id="myprofilenav" class="text-muted text-decoration-none">My Profile</a></div>
                <div class="offcanvasmenu p-2"><a id="providernav" class="text-muted text-decoration-none">Providers</a></div>
                <div class="offcanvasmenu p-2"><a id="partnerdnav" class="text-muted text-decoration-none">Partners</a></div>
                <div class="offcanvasmenu p-2"><a id="accessnav" class="text-muted text-decoration-none">Access</a></div>
                <div class="offcanvasmenu p-2"><a id="recordnav" class="text-muted text-decoration-none">Records</a></div>
            </div>
        </div> *@
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
