@{
    ViewData["Title"] = "patient Page";
}
<header id="hearder" class="shadow bg-white w-100 top-0">
    <div class="row mx-0">
        <div class="col mx-0">
            <img src="~/OneDrive_2024-01-17/SRS Screen Shorts/backremovelogo.png" alt="" height="100px" width="180">
        </div>
    </div>
    <div class="col setmoon">
        <div class="row">
            <div class="col text-end  ">
                <button class="moonbtn backtra">
                    <i class="fa-solid fa-moon  "></i>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="container text-end mt-3">
    <a class="text-start text-info text-decoration-none " asp-controller="Home" asp-action="submit_request_screen">
        <button class="btn btn-white  text-info border-info rounded ">
            <i class="fa-solid  fa-less-than"></i> Back
        </button>
    </a>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary hello visually-hidden" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center justify-content-center">
                <div class="rounded-circle border border-3 p-1 border-warning shadow ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#e0bd34"
                         class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path fill="#e0bd34" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path fill="#e0bd34" d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                    </svg>
                </div>

                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body " style="text-align: center;">
                <div>
                    <h5 class="modal-title " id="staticBackdropLabel">Information</h5>
                </div>
                When Submiting a request,you must provide the correct contact information for the patient or the
                responsibly party.Failure to provide correct email and phone number will delay service or be
                declined.
            </div>
            <div class="modal-footer d-flex justify-content-center ">
                <button type="button" class="btn btn-info text-white " data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<form action="">
    <div class="container bg-white rounded mt-3">
        <!-- <div class="row text-end position-relative ">
            <div class="col d-md-flex justify-content-md-end">
                <button class="btn btn-white  text-white border-info rounded ">
                    <a class="col text-start text-info text-decoration-none " href="./submitrequestScreen.html">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </a>
                </button>
            </div>
        </div> -->
        <div class="row">
            <div class="col-12 h3 mb-3 mt-3">
                Patient Information
            </div>
            <div class="col-sm-12 col-md-12 col-xl-12 form-floating mb-3 text-muted">
                <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                <textarea class="form-control " id="exampleFormControlInput1" rows="6"
                          placeholder="Enter Brief Details Of Symptoms"></textarea>
                <label for="exampleFormControlInput1" class="form-label ps-4">
                    Enter Brief Details Of
                    Symptoms
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">First name</label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">last name </label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Date Of Birth">
                <label for="exampleFormControlInput1" class="form-label ps-4">Date Of Birth</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 h3 mb-3">
                Patient Contact Information
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Email</label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Lastname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Phone Number</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12 h3 mb-3">
                Patient Location
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating  mb-3 text-muted">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Street</label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">City</label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">State</label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Zip Code</label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Room # / (Suite Optional)</label>
            </div>
        </div>
        <div class="row">
            <div class="col h3 mb-3">
                (Optional) Upload Photo or Document
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <input class="form-control visually-hidden" type="file" id="formFile">
                <label for="formFile" class="bg-light rounded d-flex w-100  justify-content-between border"
                       style="width: inherit;">
                    <p class="m-3 text-muted">
                        Select file
                    </p>
                    <p class="btn btn-info m-2">
                        <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                        Upload
                    </p>
                </label>
            </div>
        </div>
        <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
        <div class="text-end pb-3">
            <button class="btn btn-info me-2 text-white" type="button">Submit</button>
            <button class="btn btn-white text-info border-info" type="button">cancel</button>
        </div>
    </div>
</form>
<footer class="text-center justify-content-center bg-secondary mt-2 ">
    <div class="">Terms Of Conditions <div class="vr "></div> Privacy Policy</div>
</footer>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        // var btn = document.querySelector('.hello');
        // btn.click();

        var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
        modal.show();
    })
</script>