.height {
    min-height: 100%;
}

@media only screen and (max-width : 768px) {
    .left {
        height: 0px;
        overflow: hidden;
    }
}

.moonbtn {
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    color: #54d4d3;
    border: 2px solid #54d4d3;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

.usericon {
    position: absolute;
    top: 5px;
}

.faicon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    width: 25px;
    /* right: 0px; */
}

.form-control:focus~label {
    color: cyan;
    background-color: transparent;
}
.setmoon{
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    z-index: 1;
    background: transparent;
}
.bg1{
    background: url('../OneDrive_2024-01-17/SRS Screen Shorts/11116016_415.jpg');
    background-size: 400px 100vh;
    background-repeat: no-repeat;
    width: 360px;
    height: 100%;
    opacity: 0.3;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: -999;

}
.footerset{
  position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    background: transparent;
}
.backtra{
    background: transparent;
}
.setlogo{
    position: absolute;
    top: 0;
    left: 0;
}
.form-control:focus{
    background: transparent;
}
::-webkit-scrollbar {
    display: none;
}

.buttons button{
    width: 50%;
    margin-top: 1rem;
    height: 4rem;
}
.btnsetupload{
    position: absolute;
    right: 0;
}
nav ul:first-child{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
nav ul:last-child{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-start;
}
nav ul:first-child li:first-child{
    margin-right: auto;
}
.hide{
    display: none;
}
@media only screen and (max-width : 768px) {
    .hideonmobile{
        
        display: none;
    }
    .showonmobile{
        display: block;
    }
}
.nav-item .active{
    color:#54d4d3 !important;
    border: 0 !important;
    border-bottom: 3px solid #54d4d3 !important;
}
